{
    "*.{ts,tsx}": [
      "bash -c 'npm test'"
    ],
    "package.json": [
      "bash -c 'npm test'"
    ],
    "*": [
      "biome check --write --no-errors-on-unmatched --files-ignore-unknown=true"
    ]
  }
